{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block main %}
	<h2>{{ self.title() }}</h2>

	{% if error %}
		<div class="error"><strong>Error:</strong> {{ error }}</div>
	{% endif %}

	<b>Patrons</b>
	<p>
	{% for u in users %}
		{% if not u.librarian %}
		<li><a href="{{ url_for('.accounts', account_id=u.user_id) }}">{{u.username}}</a>
		{% endif %}
	{% endfor %}

	<p>
	<b>Librarians</b>
	<p>

	{% for u in users %}
		{% if u.librarian %}
		<li><a href="{{ url_for('.accounts', account_id=u.user_id) }}">{{u.username}}</a>
		{% endif %}
	{% endfor %}

	<p>
	<b>Add New Librarian</b>
	<form action="" method="post">
		<dl>
			<dt>Username:
			<dd><input type="text" name="username" size="30" value="{{ request.form.username }}">
			<dt>E-Mail:
			<dd><input type="text" name="email" size="30" value="{{ request.form.email }}">
			<dt>Password:
			<dd><input type="password" name="password" size="30">
			<dt>Password <small>(repeat)</small>:
			<dd><input type="password" name="password2" size="30">
		</dl>
		<input type="submit" value="Add Librarian">
	</form>
	<p>
{% endblock %}
