<!doctype html>
<html lang="en">
<head>
	<title>{% block title %}Welcome{% endblock %} - Librarytron</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<h1>Librarytron</h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a>

				{% if g.user %}
					{% if g.user.librarian %}
						<li> <a href="{{ url_for('.books', book_id='None') }}">Manage Books</a>
						<li><a href="{{ url_for('.accounts', account_id='None') }}">Accounts</a>
					{% endif %}

					<li><a href="{{ url_for('logout') }}">Sign out [{{ g.user.username }}]</a>
				{% else %}
					<li><a href="{{ url_for('register') }}">Become a patron!</a>
					<li><a href="{{ url_for('login') }}">Sign in</a>
				{% endif %}
			</ul>
		</nav>

		{% with flashes = get_flashed_messages() %}
			{% if flashes %}
				<ul class="flashes">
				{% for message in flashes %}
					<li>{{ message }}
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</header>

	<main>
		{% block main %}
			Hmm... no content here. Don't forget to put a "main" block in your template.
		{% endblock %}
	</main>

	<footer>
		Librarytron &copy; 2019 Tristan Pitts
	</footer>
</body>
</html>
